<nav class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/layout/home']" routerLinkActive="active">
        <b>Home</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <b>Profile</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <b>Settings</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#categorias">
        <b>Categories</b>
      </a>
    </li>
  </ul>
  <div class="social-icons">
    <a href=""><i class="fab fa-facebook-f"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fab fa-whatsapp"></i></a>

  </div>
</nav>
